body
{
    background-color: black;
    color: lightgray;
    font-size:28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
#container
{
    margin-left: auto;
    margin-right: auto;
    width:900px;
}
#board
{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#hangman
{
    float: left;
    width: 450px;
    text-align:center;
    min-height: 280px;
}
#alphabet
{
    float: left;
    width:450px;
    text-align:center;
    min-height: 280px;
}
.letter
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid grey;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}
.letter:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}
.reset
{
    color: green;
    cursor: pointer;
    font-size: 48px;
}
.reset:hover{
    color:white;
}
.gameOver
{
    color: red;
    cursor: pointer;
    font-size: 48px;
}
.gameOver:hover{
    color:white;
}